@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #333;
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
}

.logo {
    width: 200px;
    height: 100%;
}
.logo a img {
    margin-top: 10px;
}

.menu {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
}

.main-menu ul {
    display: flex;
}

.main-menu ul li a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    text-align: center;
    background-color: slateblue;
    font-weight: bold;
    color: white;
}
.main-menu ul li a:hover {
    background-color:darkorchid;
}

.sub-menu {
    display: none;
}

.sub-menu ul {
    display: flex;
}

.sub-menu ul li ul {
    display: block;
}

.sub-menu ul li ul li a {
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.sub-menu ul li ul li a:hover {
    background-color:darkmagenta;
}


.slide {
    width: 100%;
    height: 400px;
    background-color: wheat;
    overflow: hidden;
    position: relative;
}

.slide img {
    position: absolute;
    opacity: 0;
}

.slide img:first-child {
    opacity: 1;
}

#cont {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-top: -100px;
}

.link {
    width: 100%;
    height: 100px;
}

.link ul {
    display: flex;
    height: 100%;
}

.link ul li {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link ul li p {
    color: white;
}

.pattern1 {
    background-color: blueviolet;
}
.pattern2 {
    background-color: darkmagenta;
}

.banner {
    width: 100%;
    height: 200px;
    background-color: silver;
    display: flex;
}

.banner .banner-img {
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 15px;
}

.banner .text-box {
    padding: 30px;
}

.banner .text-box h3 {
    color: darkblue;
    font-size: 24px;
    font-weight: bold;
}
.banner .text-box p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.banner .arrow-div {
    width: 150px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    height: 50px;
    margin-top: 15px;
}

.tab ul {
    display: flex;
    height: 100%;
    margin-left: 20px;
}

.tab ul li {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.tab .on {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

.notice {
    width: 100%;
    height: 250px;
}

.notice ul {
    padding: 25px;
    background-color: blueviolet;
}

.notice ul li {
    line-height: 50px;
    border-bottom: 1px dotted white;
}

.notice ul li .notice-txt {
    font-weight: bold;
    color: white;
}

.notice ul li span {
    margin-left: 830px;
}

.gallery {
    width: 100%;
    height: 250px;
    display: none;
}

.gallery ul {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.gallery ul li {
    width: 35%;
    margin-left: 25px;
}

footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #333;
    margin-top: 20px;
}

.flogo {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.service, .copy {
    color: white;
}

.service {
    margin-bottom: 20px;
}


#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#popup .box {
    background-color: white;
    position: relative;
    width: 400px;
    height: 500px;
    padding: 20px 30px;
}

#popup .box .title {
    font-size: 24px;
    margin-bottom: 15px;
}

#popup .box button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 30px;
    border: none;
    background-color: indianred;
    color: white;
    cursor: pointer;
}